* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 22px;
	color: #383b3e;
	font-family: Garamond, serif;
}
body {
	font-size: 22px;
	width: 100% !important;
	color: #383b3e;
	background-color: #000000;
	font-family: Garamond, serif;
}
.container{
	display: grid;
	width: 100% !important;
	border-style: solid;
	min-height 100vh;
	border-width: 6px;
	padding: 14px;
	border-image: url("https://raw.githubusercontent.com/dirtlordthezombieking/LoreBook/main/Images/border.png") 6 fill repeat;
	box-sizing: border-box;
}
.banner {
	width: 100% !important;
}
.catagory {
	width: 30% !important;
	margin: auto;
	font-size: 5vw;
	text-align: center;
}
.catagory_img {
	width: 100% !important;
}
.world_map {
	background-image: url("https://raw.githubusercontent.com/dirtlordthezombieking/LoreBook/main/Images/sketch-1640618143454.png");
	background-repeat: no-repeat;
	width: 100% !important;
	padding-top: 56.25%;
	background-size: cover;
}
.indented {
	text-indent: 2em;
}
.name {
	padding-left: 2em
}
