* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 22px;
	font-family: Garamond, serif;
}
body {
	font-size: 22px;
	font-family: Garamond, serif;
}
.container{
	display: grid;
	width: 100% !important;
}
.banner {
	width: 100% !important;
}
