* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 22px;
	font-family: Garamond, serif;
}
body {
	font-size: 22px;
	font-family: Garamond, serif;
}
.container{
	display: grid;
	width: 100% !important;
	border: 10px solid transparent;
	padding: 15px;
	border-image-source: url("https://raw.githubusercontent.com/dirtlordthezombieking/LoreBook/main/Images/border.png") fill 6 round;
}
.banner {
	width: 100% !important;
}
.world_map {
	background-image: url("https://raw.githubusercontent.com/dirtlordthezombieking/LoreBook/main/Images/temp_map.png");
	background-repeat: no-repeat;
	width: 100% !important;
	padding-top: 75%;
	background-size: cover;
}
